<div class="contentDiv" dashboard-context-div>
	<div class="horisontal">
		<div class="levelTitle">
			<h2>%USER_CARD%</h2>
		</div>
	</div>
	
	<div class="horisontal stats">
		<div class="levelStats card">
			<text class="levelStat" title="%TEXT_accountID%">
				<i class="fa-solid fa-user"></i>
				<text dashboard-copy>%extID%</text>
			</text>
			
			<text class="levelStat" title="%TEXT_userID%">
				<i class="fa-regular fa-user"></i>
				<text dashboard-copy>%userID%</text>
			</text>
		</div>
		
		<div class="levelStats card">
			<text class="levelStat" title="%TEXT_registerDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%registerDate%"></text>
			</text>
		
			<div class="levelStat" title="%TEXT_moons%">
				<i class="fa-solid fa-moon"></i>
				%moons%
			</div>
			
			<div class="levelStat" title="%TEXT_diamonds%">
				<i class="fa-solid fa-gem"></i>
				%diamonds%
			</div>
			
			<div class="levelStat" title="%TEXT_goldCoins%">
				<i class="fa-solid fa-coins goldCoins"></i>
				%coins%
			</div>
			
			<div class="levelStat" title="%TEXT_userCoins%">
				<i class="fa-solid fa-coins"></i>
				%userCoins%
			</div>
			
			<div class="levelStat" title="%TEXT_demons%">
				<i class="fa-solid fa-dragon"></i>
				%demons%
			</div>
			
			<div class="levelStat" title="%TEXT_creatorPoints%">
				<i class="fa-solid fa-screwdriver-wrench"></i>
				%creatorPoints%
			</div>
		</div>
	</div>
	
	%USER_CONTEXT_MENU%
</div>