<form class="box" name="infoForm">
	<h1>%INFO_TITLE%</h1>
	<p>%INFO_DESCRIPTION%</p>
	
	%INFO_EXTRA%
	
	<div class="horisontal">
		<button class="button %INFO_BUTTON_STYLE_FIRST%" type="button" onclick="%INFO_BUTTON_ONCLICK_FIRST%">%INFO_BUTTON_TEXT_FIRST%</button>
		<button class="button %INFO_BUTTON_STYLE_SECOND%" type="button" onclick="%INFO_BUTTON_ONCLICK_SECOND%">%INFO_BUTTON_TEXT_SECOND%</button>
	</div>
	
	<input type="hidden" name="%INFO_INPUT_NAME%" value="%INFO_INPUT_VALUE%"></input>
</form>