<div class="horisontal" dashboard-page-buttons>
	<div class="modeButtons">
		<button type="button" title="%TEXT_sortByLikes%" onclick="getPage('@page=REMOVE_QUERY&mode=1')"><i class="fa-solid fa-thumbs-up"></i></button>
		<button type="button" title="%TEXT_sortByTime%" onclick="getPage('@page=REMOVE_QUERY&mode=REMOVE_QUERY')"><i class="fa-solid fa-clock"></i></button>
	</div>
	
	<div class="pageDiv">
		<p>%CLAN_PAGE_TEXT%</p>
		<div class="pageButtons">
			<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%FIRST_PAGE_BUTTON%">
				<i class="fa-solid fa-backward"></i>
			</button>
			
			<button dashboard-disable="%IS_FIRST_PAGE%" class="pageButton" type="button" onclick="%PREVIOUS_PAGE_BUTTON%">
				<i class="fa-solid fa-chevron-left"></i>
			</button>
			
			<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%NEXT_PAGE_BUTTON%">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
			
			<button dashboard-disable="%IS_LAST_PAGE%" class="pageButton" type="button" onclick="%LAST_PAGE_BUTTON%">
				<i class="fa-solid fa-forward"></i>
			</button>
		</div>
	</div>
</div>

<form onsubmit="return false;" class="inlineForm" name="uploadClanPostForm" autocomplete="off" dashboard-show="%CLAN_CAN_POST%">
	<input type="hidden" name="clanID" value="%CLAN_ID%" />
	<div class="emojisInput" dashboard-emojis-div>
		<input dashboard-emoji-input class="inputStyle bordered" type="text" name="comment" placeholder="%TEXT_writeSomething%" />
		
		<button class="eyeButton emojisButton" onclick="toggleEmojisDiv()">
			<i class="fa-solid fa-face-smile-beam"></i>
		</button>
		
		<div class="box emojisDiv">
			%CLAN_EMOJIS_DIV%
		</div>
	</div>
	
	<button dashboard-submit class="button bordered" type="button"onclick="postPage('manage/uploadClanPost', 'uploadClanPostForm')"><i class="fa-solid fa-paper-plane"></i></button>
</form>

<div class="nothingOnPageDiv" dashboard-show="%CLAN_NO_POSTS%">
	<i class="fa-solid fa-comment-slash nothing-icon"></i>
	<h1>%TEXT_noClanPosts%</h1>
</div>

%ADDITIONAL_PAGE%