<div class="wideBox levelPage">
	<div class="contentDiv" dashboard-context-div>
		<div class="horisontal">
			<div class="vertical">
				<div class="levelTitle">
					<h2>
						<text class="big">%GAUNTLET_TITLE%</text>
					</h2>
				</div>
			</div>
			
			<img loading="lazy" class="difficultyImage" src="%GAUNTLET_DIFFICULTY_IMAGE%"></img>
		</div>
		
		<div class="horisontal stats">
			<span class="emptySymbol">:3</span>
			
			<button class="button short titleToRight" type="button" onclick="copyElementContent('browse/gauntlets/%ID%', true)">
				<i class="fa-solid fa-chain"></i>
				%TEXT_copyLink%
			</button>
		</div>
		
		%GAUNTLET_CONTEXT_MENU%
	</div>
	
	<div class="horisontal">
		<div class="levelStats">
			<text class="levelStat" title="%TEXT_gauntletID%">
				<i class="fa-solid fa-globe"></i>
				<text dashboard-copy>%ID%</text>
			</text>
		
			<text class="levelStat" title="%TEXT_uploadDate%">
				<i class="fa-solid fa-calendar"></i>
				<text dashboard-date="%timestamp%"></text>
			</text>
			
			<div class="levelStat several" title="%TEXT_levels%">
				<text>
					<i class="fa-solid fa-gamepad"></i>
					%TEXT_levels%
				</text>
				
				<button type="button" class="eyeButton" href="browse/gauntlets/%ID%"><i class="fa-solid fa-eye"></i></button>
			</div>
			
			<div class="levelStat several" dashboard-show="%GAUNTLET_CAN_MANAGE%" title="%TEXT_manageGauntlet%">
				<text>
					<i class="fa-solid fa-pencil"></i> %TEXT_manage%
				</text>
				
				<button type="button" class="eyeButton" onclick="getPage('browse/gauntlets/%ID%/manage')"><i class="fa-solid fa-eye"></i></button>
			</div>
		</div>
		
		<div class="commentsDiv" dashboard-page-div>
			%GAUNTLET_ADDITIONAL_PAGE%
		</div>
	</div>
</div>